/*-----------------------Map------------------*/
/*-----------------------PdfViewer------------------*/
/*-----------------------End PdfViewer------------------*/
/*-----------------------OLAP Definition-----------------*/
/*-----------------------OLAP Definition End-----------------*/
/*----------------------Reportviewer Definition start------------------*/
/*----------------------Reportviewer Definition End------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*-----------------------Diagram Definition-----------------*/
/*-----------------------Datepicker Definition-----------------*/
/*-----------------------Bootstrap support-----------------*/
/*----------------------Ribbon Definition-----------------------*/
/*----------------------Ribbon End-----------------------*/
/*----------------------Kanban Definition-----------------------*/
/*----------------------Kanban End-----------------------*/
/*----------------------Spreadsheet Definition-----------------------*/
/*----------------------Spreadsheet End-----------------------*/
/*----------------------rangeScrollbar Start------------------*/
/*----------------------rangeScrollbar End--------------------*/
/*----------------------Office 365 theme-----------------------*/
/*----------------------High-Contrast-01 & High-Contrast-02 theme-----------------------*/
/*----------------------material theme-----------------------*/
/*--------------- common ----------------- */
/*---------------high-contrast ------*/
/*---------------- Office-365 ----------------*/
/*------------------ material theme ---------------------*/
/*-----------------------HeatMap Definition-----------------*/
/* Common style */

.e-content-area {
  background-color: white;
  color: #111111;
  border-color: #c8c8c8;
  font-family: Segoe UI;
}
.hoverCell {
  background-color: #86cbea !important;
}
.e-pivotchart {
  font: normal 12px Segoe UI;
  border: 1px solid #c8c8c8;
  background-color: white;
  color: #333333;
}
.e-pivotchart .expandMenu {
  min-height: 50px;
}
.e-pivotchart .menuList {
  list-style-type: none;
  padding: 4px 15px 4px 15px;
}
.e-pivotchart .menuList:hover {
  list-style-type: none;
  color: #282827;
  background-color: #86cbea;
  cursor: pointer;
}
.e-pivotchart .e-dialog,
.e-pivotchart .e-wrapper,
.e-pivotchart .e-shadow {
  min-height: 50px;
}
.e-pivotchart .e-dialog-scroller {
  height: auto !important;
}
.e-pivotchart .e-dialog,
.e-pivotchart .e-content {
  padding: 0;
}
