/*-----------------------Map------------------*/
/*-----------------------PdfViewer------------------*/
/*-----------------------End PdfViewer------------------*/
/*-----------------------OLAP Definition-----------------*/
/*-----------------------OLAP Definition End-----------------*/
/*----------------------Reportviewer Definition start------------------*/
/*----------------------Reportviewer Definition End------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*-----------------------Diagram Definition-----------------*/
/*-----------------------Datepicker Definition-----------------*/
/*-----------------------Bootstrap support-----------------*/
/*----------------------Ribbon Definition-----------------------*/
/*----------------------Ribbon End-----------------------*/
/*----------------------Kanban Definition-----------------------*/
/*----------------------Kanban End-----------------------*/
/*----------------------Spreadsheet Definition-----------------------*/
/*----------------------Spreadsheet End-----------------------*/
/*----------------------rangeScrollbar Start------------------*/
/*----------------------rangeScrollbar End--------------------*/
/*----------------------Office 365 theme-----------------------*/
/*----------------------High-Contrast-01 & High-Contrast-02 theme-----------------------*/
/*----------------------material theme-----------------------*/
/*--------------- common ----------------- */
/*---------------high-contrast ------*/
/*---------------- Office-365 ----------------*/
/*------------------ material theme ---------------------*/
/*-----------------------HeatMap Definition-----------------*/
/* Common style */

.e-content-area {
  background-color: white;
  color: #111111;
  border-color: #c8c8c8;
  font-family: Segoe UI;
}
.hoverCell {
  background-color: #86cbea !important;
}
.e-pivotclient {
  border: 1px solid #c8c8c8;
  background-color: white;
  color: #333333;
}
.e-pivotclient .gridPanel,
.e-pivotclient .chartPanel {
  border: none !important;
}
.e.pivotclient .chartPanel > div {
  border-bottom: none !important;
}
.e-pivotclient .controlPanel {
  position: relative;
  right: 5px;
}
.e-pivotclient .sortFilterDisable {
  color: #999999;
}
.e-pivotclient ul.sortfiltTab.e-box.e-addborderbottom.e-header {
  background: transparent;
}
.e-pivotclient .e-dialog .e-header {
  background: white;
  color: #333333;
}
.e-pivotclient textarea {
  background: white;
}
.e-pivotclient .e-treeview .e-text {
  color: #333333;
}
.e-pivotclient .e-treeview .e-text:hover {
  color: #282827;
}
.e-pivotclient .e-treeview .e-active {
  color: white;
  background: #179bd7;
}
.e-pivotclient .e-splitter .e-splitbar.e-h-bar {
  width: 4px;
}
.e-pivotclient .e-pane {
  overflow: initial;
}
.e-olapclient .nextPageDiv {
  float: right;
  margin-top: 10px;
}
.e-olapclient .memberPageCount {
  padding-left: 5px;
}
.e-olapclient .firstPage,
.prevPage,
.nextPage,
.lastPage,
.memberCurrentPage {
  margin-left: 5px;
}
.e-olapclient .disabled {
  cursor: pointer;
  opacity: 0.5;
}
.e-olapclient .enabled {
  cursor: pointer;
  opacity: 1;
}
.e-pivotclient .e-ddl .e-select {
  color: #333333;
  background: white;
  border-color: #c8c8c8;
}
.e-pivotclient .e-ddl .e-select:hover {
  color: #282827;
  background: #86cbea;
}
.e-pivotclient .outerTable {
  font: normal 12px Segoe UI;
  border-collapse: collapse;
  background-color: white;
}
.e-pivotclient .titleText {
  height: 50px;
  width: inherit;
  display: inline-block;
  font: normal 20px Segoe UI;
  line-height: 48px;
}
.e-pivotclient .titleText span {
  padding-left: 10px;
}
.e-pivotclient .newReportImg:before {
  content: "\e6b3";
  font-size: 20px;
}
.e-pivotclient .addReportImg:before {
  content: "\e6a1";
  font-size: 20px;
}
.e-pivotclient .removeReportImg:before {
  content: "\e6cf";
  font-size: 20px;
}
.e-pivotclient .renameReportImg:before {
  content: "\e6d0";
  font-size: 20px;
}
.e-pivotclient .saveReportImg:before {
  content: "\e6b7";
  font-size: 20px;
}
.e-pivotclient .loadReportImg:before {
  content: "\e6ce";
  font-size: 20px;
}
.e-pivotclient .mdxImg:before {
  content: "\e6ac";
  font-size: 20px;
}
.e-pivotclient .autoExecuteImg:before {
  content: "\e6c3";
  font-size: 20px;
}
.e-pivotclient .excelExportImg:before {
  content: "\e6d4";
  font-size: 20px;
}
.e-pivotclient .wordExportImg:before {
  content: "\e6d5";
  font-size: 20px;
}
.e-pivotclient .pdfExportImg:before {
  content: "\e6d3";
  font-size: 20px;
}
.e-pivotclient .chartTypesImg:before {
  content: "\e6a4";
  font-size: 20px;
}
.e-pivotclient .toggleaxisImg:before {
  content: "\e790";
  font-size: 20px;
}
.e-pivotclient .newReportImg,
.e-pivotclient .addReportImg,
.e-pivotclient .removeReportImg,
.e-pivotclient .renameReportImg,
.e-pivotclient .saveReportImg,
.e-pivotclient .loadReportImg,
.e-pivotclient .mdxImg,
.e-pivotclient .maximizedView,
.e-pivotclient .excelExportImg,
.e-pivotclient .wordExportImg,
.e-pivotclient .pdfExportImg,
.e-pivotclient .chartTypesImg,
.e-pivotclient .rowSortFilterImg,
.e-pivotclient .colSortFilterImg,
.e-pivotclient .toggleExpandButton,
.e-pivotclient .toggleCollapseButton,
.e-pivotclient .dimensionCDB,
.e-pivotclient .folderCDB,
.e-pivotclient .hierarchyCDB,
.e-pivotclient .attributeCDB,
.e-pivotclient .chartCDB,
.e-pivotclient .namedSetCDB,
.e-pivotclient .level0,
.e-pivotclient .level1,
.e-pivotclient .level2,
.e-pivotclient .level3,
.e-pivotclient .level4,
.e-pivotclient .level5,
.e-pivotclient .level6,
.e-pivotclient .level7,
.e-pivotclient .level8,
.e-pivotclient .level9,
.e-pivotclient .level10,
.e-pivotclient .checkAll,
.e-pivotclient .unCheckAll,
.e-pivotclient .autoExecuteImg,
.e-pivotclient .toggleaxisImg {
  color: #686969;
  text-indent: -3px;
}
.e-pivotclient .maximizedView:before {
  content: "\e660";
  font-size: 21px;
}
.e-pivotclient .colSortFilterImg:before {
  content: "\e6f9";
  font-size: 32px;
  line-height: 0.65;
  text-indent: -9px;
}
.e-pivotclient .rowSortFilterImg:before {
  content: "\e6f8";
  font-size: 29px;
  line-height: 0.8;
  text-indent: -7px;
}
.e-pivotclient .chartPanel {
  height: 0;
  width: 800px;
  margin: 5px 7px 7px;
}
.e-pivotclient .clientTab {
  margin-top: 6px !important;
  font: bold 12px Segoe UI;
}
.e-pivotclient .toggleExpandButton,
.e-pivotclient .toggleCollapseButton {
  background-repeat: no-repeat;
  height: 20px;
  width: 21px;
  cursor: pointer;
  position: relative;
  top: -3px;
}
.e-pivotclient .toggleExpandButton {
  float: right;
  background-position: center -20px;
  margin: 5px;
}
.e-pivotclient .toggleCollapseButton {
  background-position: 6px 0px;
  position: relative;
  top: 11px;
}
.e-pivotclient .toggleExpandButton:hover,
.e-pivotclient .toggleCollapseButton:hover {
  color: #282827;
  background: #86cbea;
}
.e-pivotclient .toggleCollapseButton:before {
  content: "\e674";
  font-size: 20px;
}
.e-pivotclient .toggleExpandButton:before {
  content: "\e671";
  font-size: 20px;
  margin-right: 7px;
}
.e-pivotclient .e-pivotschemadesigner .fieldTable {
  background: white !important;
  border-collapse: collapse !important;
  margin: 10px 0px 8px !important;
}
.e-pivotclient .toggleText {
  background-position: center 0px;
  background-repeat: no-repeat;
  height: 140px;
  width: 30px;
}
.e-pivotclient .splitBtn {
  margin: 7px 0 0 6px;
  position: relative;
}
.e-pivotclient .csHeader {
  font: normal 14px Segoe UI;
  margin: 8px 0 8px 3px;
}
.e-pivotclient .cdbHeader,
.e-pivotclient .axisHeader {
  border: 1px solid #c8c8c8;
  font-weight: bold;
  line-height: 28px;
}
.e-pivotclient .axisHeader span:not(.removeSplitBtn),
.e-pivotclient .cdbHeader span {
  padding-left: 5px;
}
.e-pivotclient.e-rtl .axisHeader span:not(.removeSplitBtn),
.e-pivotclient.e-rtl .cdbHeader span {
  padding-right: 5px;
}
.e-pivotclient .cubeTable {
  border-collapse: collapse;
  margin: 0 5px 3px 5px;
}
.e-pivotclient .cdbHeader {
  border-bottom: 0px;
}
.e-pivotclient .axisHeader {
  border-bottom: 0px;
}
.e-pivotclient .reportToolbar {
  border-color: #c8c8c8 !important;
  background: #ececec;
}
.e-pivotclient .cubeBrowser {
  border: 1px solid #c8c8c8 !important;
}
.e-pivotclient .cubeName {
  padding: 7px 0 0 6px;
  font: normal 14px Segoe UI;
}
.e-pivotclient .categoricalAxis,
.e-pivotclient .rowAxis,
.e-pivotclient .slicerAxis {
  border: 1px solid #c8c8c8;
  margin-bottom: 3px;
  /*background: @aeb-bgcolor;*/
  overflow: auto;
}
.e-pivotclient .gridContainer,
.e-pivotclient .chartContainer {
  border: 1px solid #c8c8c8;
}
.e-pivotclient .dropIndicator {
  margin-top: 4px !important;
  border-top: 3px dashed #179bd7;
}
.e-pivotclient .targetAxis {
  background-color: #86cbea;
  color: #282827;
}
.e-pivotclient .reportToolbar .e-active {
  color: white;
}
.e-pivotclient .connectImg,
.e-pivotclient .newReportImg,
.e-pivotclient .addReportImg,
.e-pivotclient .removeReportImg,
.e-pivotclient .renameReportImg,
.e-pivotclient .saveReportImg,
.e-pivotclient .loadReportImg,
.e-pivotclient .mdxImg,
.e-pivotclient .maximizedView,
.e-pivotclient .excelExportImg,
.e-pivotclient .wordExportImg,
.e-pivotclient .pdfExportImg,
.e-pivotclient .chartTypesImg,
.e-pivotclient .rowSortFilterImg,
.e-pivotclient .colSortFilterImg,
.e-pivotclient .connectImg:hover,
.e-pivotclient .newReportImg:hover,
.e-pivotclient .addReportImg:hover,
.e-pivotclient .removeReportImg:hover,
.e-pivotclient .renameReportImg:hover,
.e-pivotclient .saveReportImg:hover,
.e-pivotclient .loadReportImg:hover,
.e-pivotclient .mdxImg:hover,
.e-pivotclient .excelExportImg:hover,
.e-pivotclient .wordExportImg:hover,
.e-pivotclient .pdfExportImg:hover,
.e-pivotclient .chartTypesImg:hover,
.e-pivotclient .rowSortFilterImg:hover,
.e-pivotclient .colSortFilterImg:hover,
.e-pivotclient .autoExecuteImg:hover,
.e-pivotclient .autoExecuteImg,
.e-pivotclient .toggleaxisImg,
.e-pivotclient .toggleaxisImg:hover {
  background-repeat: no-repeat;
  margin: 4px;
  cursor: default;
  display: inline-block;
  height: 20px;
  width: 20px;
}
.e-pivotclient .connectImg:hover,
.e-pivotclient .newReportImg:hover,
.e-pivotclient .addReportImg:hover,
.e-pivotclient .removeReportImg:hover,
.e-pivotclient .renameReportImg:hover,
.e-pivotclient .saveReportImg:hover,
.e-pivotclient .loadReportImg:hover,
.e-pivotclient .mdxImg:hover,
.e-pivotclient .excelExportImg:hover,
.e-pivotclient .wordExportImg:hover,
.e-pivotclient .pdfExportImg:hover,
.e-pivotclient .chartTypesImg:hover,
.e-pivotclient .maximizedView:hover,
.e-pivotclient .rowSortFilterImg:hover,
.e-pivotclient .colSortFilterImg:hover,
.e-pivotclient .autoExecuteImg:hover,
.e-pivotclient .toggleaxisImg:hover {
  cursor: pointer;
  color: #282827;
}
.e-pivotclient .reportList {
  padding-left: 7px;
  padding-right: 7px;
  overflow: visible !important;
}
.e-pivotclient li.reportCol.e-hover {
  background: none;
  border-color: transparent;
}
.e-pivotclient .sortReportTbl {
  margin: 0px 4px 18px;
  width: 100%;
}
.e-pivotclient .sortingDlg,
.e-pivotclient .filteringDlg {
  font: bold 12px Segoe UI !important;
}
.e-pivotclient .sortDisable,
.e-pivotclient .radioBtnDesc,
.e-pivotclient .preserveHrchy,
.e-pivotclient .filterLbl,
.e-pivotclient .conditionLbl {
  vertical-align: middle;
}
.e-pivotclient .sortEnable,
.e-pivotclient .radioBtnAsc {
  vertical-align: text-bottom;
}
.e-pivotclient .radioBtnAsc,
.e-pivotclient .radioBtnDesc,
.e-pivotclient .measuresList,
.e-pivotclient .sortEnable,
.e-pivotclient .sortDisable,
.e-pivotclient .filter,
.e-pivotclient .filterCondition,
.e-pivotclient .filterMeasureListLbl,
.e-pivotclient .filterDisable,
.e-pivotclient .filterEnable,
.e-pivotclient .chkBoxColumn {
  margin-top: 15px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.e-pivotclient .sortDisable,
.e-pivotclient .radioBtnDesc {
  margin-bottom: 15px;
}
.e-pivotclient .filterFrmDiv,
.e-pivotclient .filterToDiv,
.e-pivotclient .filterBtw {
  float: left;
}
.e-pivotclient .filterLbl {
  margin-top: -23px;
}
.e-pivotclient .sortingDlg,
.e-pivotclient .filteringDlg {
  margin-top: -1px !important;
}
.e-pivotclient .filterFrmDiv,
.e-pivotclient .filterBtw,
.e-pivotclient .filterToDiv {
  margin-bottom: -7px;
  margin-top: 10px !important;
}
.e-pivotclient .conditionLbl,
.e-pivotclient .filterMeasureListLbl {
  margin-bottom: 14px;
  margin-top: 10px !important;
}
.e-pivotclient .filterBtw,
.e-pivotclient filterToDiv {
  margin-left: 4px;
}
.e-pivotclient .sortDisableLbl,
.e-pivotclient .sortEnableLbl,
.e-pivotclient .radioBtnAscLbl,
.e-pivotclient .radioBtnDescLbl,
.e-pivotclient .preserveHrchyLbl,
.e-pivotclient .filterDisableLbl {
  margin-left: 4px;
}
.e-pivotclient .e-dialog-scroller {
  height: auto !important;
}
.e-pivotclient .filterDisableLbl {
  vertical-align: text-bottom;
}
.e-pivotclient .filterBtw {
  margin-left: 12px;
}
.e-pivotclient .filterToDiv {
  margin-left: 8px;
}
.e-pivotclient .borderFilterSortDlg {
  border: 1px solid #c8c8c8;
  border-top: none;
  margin-bottom: 13px;
  margin-top: -4px;
}
.e-pivotclient .filterMeasureListLbl,
.e-pivotclient .conditionLbl,
.e-pivotclient .filterValueLbl {
  margin-bottom: 15px;
}
.e-pivotclient .orderLbl,
.e-pivotclient .sortingLbl {
  position: relative;
  padding-top: 12px;
}
.e-pivotclient .filterValueLbl {
  margin-top: -5px !important;
  position: absolute;
}
.e-pivotclient .sortDisableLbl,
.e-pivotclient .sortEnableLbl,
.e-pivotclient .radioBtnAscLbl,
.e-pivotclient .radioBtnDescLbl,
.e-pivotclient .filterDisableLbl {
  margin-top: 13px;
  position: absolute;
}
.e-pivotclient .preserveHrchyLbl {
  margin-top: 2px;
  position: absolute;
}
.e-pivotclient .e-pivotclient .filterLbl {
  margin-top: -40px;
}
.e-pivotclient .measureListLbl {
  margin-top: 3px;
}
.e-pivotclient .reportCol {
  width: auto;
  height: 25px;
}
.e-pivotclient .dimensionCDB,
.e-pivotclient .folderCDB,
.e-pivotclient .hierarchyCDB,
.e-pivotclient .attributeCDB,
.e-pivotclient .chartCDB,
.e-pivotclient .namedSetCDB,
.e-pivotclient .level0,
.e-pivotclient .level1,
.e-pivotclient .level2,
.e-pivotclient .level3,
.e-pivotclient .level4,
.e-pivotclient .level5,
.e-pivotclient .level6,
.e-pivotclient .level7,
.e-pivotclient .level8,
.e-pivotclient .level9,
.e-pivotclient .level10 {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: text-top;
}
.e-pivotclient .attributeCDB:before {
  content: "\e6e4";
  font-size: 18px;
}
.e-pivotclient .folderCDB:before {
  content: "\e6e1";
  font-size: 18px;
}
.e-pivotclient .dimensionCDB:before {
  content: "\e704";
  font-size: 15px;
}
.e-pivotclient .hierarchyCDB:before {
  content: "\e6e0";
  font-size: 18px;
}
.e-pivotclient .chartCDB:before {
  content: "\e6e3";
  font-size: 15px;
}
.e-pivotclient .namedSetCDB:before {
  content: "\e6de";
  font-size: 18px;
}
.e-pivotclient .level0:before {
  content: "\e6f3";
  font-size: 19px;
}
.e-pivotclient .level1:before {
  content: "\e6f3";
  font-size: 18px;
}
.e-pivotclient .level2:before {
  content: "\e6ec";
  font-size: 17px;
}
.e-pivotclient .level3:before {
  content: "\e6eb";
  font-size: 17px;
}
.e-pivotclient .level4:before {
  content: "\e6ea";
  font-size: 18px;
}
.e-pivotclient .level5:before {
  content: "\e6e9";
  font-size: 17px;
}
.e-pivotclient .level6:before {
  content: "\e6e8";
  font-size: 17px;
}
.e-pivotclient .level7:before {
  content: "\e6e7";
  font-size: 17px;
}
.e-pivotclient .level8:before {
  content: "\e6e6";
  font-size: 17px;
}
.e-pivotclient .level9:before {
  content: "\e6e5";
  font-size: 17px;
}
.e-pivotclient .level10:before {
  content: "\e6f2";
  font-size: 17px;
}
.e-pivotclient .dialogOKBtn,
.e-pivotclient .dialogCancelBtn {
  width: 69px;
  margin-left: 10px;
}
.e-pivotclient .dialogOKBtn {
  margin-left: 83px;
}
.e-pivotclient .editorPara {
  margin: 0 0 7px;
}
.e-pivotclient .loadReportTbl {
  margin: 10px 0px 10px 0px;
}
.e-pivotclient .loadReportTd {
  width: 100px;
}
.e-pivotclient .dialogInput {
  float: right;
  margin: 10px 0px 17px 7px;
}
.e-pivotclient .checkAll,
.e-pivotclient .unCheckAll {
  display: inline-block;
  height: 15px;
  width: 16px;
  cursor: pointer;
}
.e-pivotclient .checkAll:hover,
.e-pivotclient .unCheckAll:hover {
  background: #86cbea;
  color: #282827;
}
.e-pivotclient .checkAll:before {
  content: "\e6db";
  font-size: 16px;
}
.e-pivotclient .unCheckAll:before {
  content: "\e6da";
  font-size: 16px;
}
.e-pivotclient .unCheckAll {
  margin-left: 5px;
}
.e-pivotclient .line:before {
  content: "\e6b1";
}
.e-pivotclient .spline:before {
  content: "\e6bb";
}
.e-pivotclient .column:before {
  content: "\e6a6";
}
.e-pivotclient .area:before {
  content: "\e6a2";
}
.e-pivotclient .splinearea:before {
  content: "\e6ba";
}
.e-pivotclient .stepline:before {
  content: "\e6c0";
}
.e-pivotclient .steparea:before {
  content: "\e6be";
}
.e-pivotclient .pie:before {
  content: "\e6ca";
}
.e-pivotclient .bar:before {
  content: "\e6c5";
}
.e-pivotclient .stackingarea:before {
  content: "\e6bc";
}
.e-pivotclient .stackingcolumn:before {
  content: "\e6bd";
}
.e-pivotclient .stackingbar:before {
  content: "\e6c6";
}
.e-pivotclient .pyramid:before {
  content: "\e6c9";
}
.e-pivotclient .funnel:before {
  content: "\e6c8";
}
.e-pivotclient .doughnut:before {
  content: "\e7dd";
}
.e-pivotclient .scatter:before {
  content: "\e7df";
}
.e-pivotclient .bubble:before {
  content: "\e7dc";
}
.e-pivotclient .treemap:before {
  content: "\e810";
}
.e-pivotclient .chartTypesIcon:before {
  font-family: 'ej-webfont';
  font-size: 20px;
  margin-left: 2px;
}
.e-pivotclient .chartTypesOnGridView {
  display: none !important;
}
.e-pivotclient .chartTypesIcon,
.e-pivotclient .chartTypesIcon:hover {
  background-repeat: no-repeat;
  margin: 5px 5px 0px 0px;
  cursor: default;
  display: inline-block;
  height: 28px;
  width: 24px;
}
.e-pivotclient .chartTypesDialog {
  position: absolute;
  padding: 0px 0px 5px 5px;
  z-index: 1000000;
  background-color: #ececec;
  border: 2px solid #c8c8c8;
}
.e-pivotclient .chartTypesIcon {
  color: #686969;
}
.e-pivotclient .chartTypesIcon:hover {
  color: #282827;
  cursor: pointer;
  background: #86cbea;
}
.e-pivotclient .activeChartType {
  color: white;
  background: #179bd7;
}
.e-pivotclient .memberEditorDiv {
  height: 256px;
  margin-top: 5px;
  border: 1px solid #c8c8c8;
}
.e-pivotclient .removeSplitBtn,
.e-pivotclient .removeMeasure {
  background-repeat: no-repeat;
  height: 11px;
  padding-left: 10px;
  width: 11px;
  color: #333333;
}
.e-pivotclient .removeSplitBtn:before {
  content: "\e681";
  font-size: 13px;
  margin-left: -6px;
  margin-top: 2px;
}
.e-pivotclient .removeSplitBtn:hover {
  cursor: pointer;
  background: #86cbea;
}
.e-pivotclient .removeSplitBtn {
  background: #ececec;
  border: 1px solid #c8c8c8;
  display: inline-block;
  float: none;
  margin: 0 !important;
  padding-bottom: 7px;
  padding-right: 0;
  position: absolute;
}
.e-pivotclient .removeMeasure {
  background-position: 0 -1835px !important;
  margin: 4px;
  color: #686969;
}
.e-pivotclient .removeMeasure:before {
  content: "\e681";
  font-size: 13px;
  display: inline-block;
}
.e-pivotclient .measureEditor {
  margin: 3px 5px 0px 5px;
}
.e-pivotclient .measureEditor:hover {
  color: #282827;
  background-color: #86cbea;
  cursor: pointer;
}
.e-pivotclient .nodetext {
  font-size: inherit !important;
}
.e-pivotclient .e-dialog {
  font: bold 12px Segoe UI !important;
  opacity: 1 !important;
}
.e-pivotclient .e-corner-all {
  border-radius: 0px !important;
}
.e-pivotclient .e-button {
  font-size: 12px !important;
}
.e-pivotclient .alertOKBtn {
  display: inline-block;
  margin: 20px 0 10px 165px;
  width: 50px;
}
.e-pivotclient .alertContent {
  font: normal 14px Segoe UI;
}
.e-pivotclient .e-treeview {
  background-color: white;
}
.e-pivotclient .e-treeview ul {
  margin: 0;
}
.e-pivotclient .e-treeview,
.e-pivotclient .e-text {
  font-size: 12px;
}
.e-pivotclient .e-tab,
.e-pivotclient .e-header {
  width: auto;
}
.e-pivotclient .e-tab,
.e-pivotclient .e-active-content {
  padding: 0 !important;
}
.e-pivotclient .e-tab,
.e-pivotclient .e-content {
  border-width: 0;
}
.e-pivotclient .e-toolbar {
  border-width: 1px 0;
}
.e-pivotclient .e-input {
  line-height: normal !important;
}
.e-pivotclient .e-progress-txt {
  top: -2px !important;
}
.e-pivotclient .filter {
  display: none !important;
}
.cdbHeader.responsive,
.cubeBrowser.responsive {
  width: 98% !important;
}
.e-pivotclient .oClientTbl {
  position: relative;
}
.rowAxis.responsive,
.slicerAxis.responsive,
.categoricalAxis.responsive,
.axisHeader.responsive {
  width: 95% !important;
}
.e-pivotclient .reportDlg {
  margin-bottom: -10px;
}
.e-pivotclient .dialogFooter {
  float: right;
  margin: 7px 0 6px;
}
.e-pivotclient reportCol {
  margin-left: 3px;
}
.e-pivotclient.e-rtl .reportDlg table td {
  width: 100px;
}
.e-pivotclient.e-rtl .reportDlg {
  margin-left: -5px;
}
.e-pivotclient.e-rtl .titleText span {
  padding-right: 10px;
}
.e-pivotclient.e-rtl .splitBtn,
.e-pivotclient.e-rtl .cubeName {
  margin: 7px 6px 0 0;
}
.e-pivotclient.e-rtl .controlPanel {
  right: 10px;
}
.e-pivotclient.e-rtl .controlPanel .e-icon {
  float: right;
}
.e-pivotclient.e-rtl .sortfilterTab .e-content {
  float: none;
}
.e-pivotclient.e-rtl .unCheckAll {
  margin-right: 4px;
}
.e-pivotclient.e-rtl .filterFrmDiv,
.e-pivotclient.e-rtl .filterToDiv,
.e-pivotclient.e-rtl .filterBtw {
  float: right;
}
.e-pivotclient.e-rtl .sortDisableLbl,
.e-pivotclient.e-rtl .sortEnableLbl,
.e-pivotclient.e-rtl .radioBtnAscLbl,
.e-pivotclient.e-rtl .radioBtnDescLbl,
.e-pivotclient.e-rtl .preserveHrchyLbl,
.e-pivotclient.e-rtl .filterDisableLbl {
  margin-right: 4px;
}
.e-pivotclient.e-rtl .dialogFooter {
  float: left;
  margin: 7px 6px 7px;
}
.e-pivotclient.e-rtl .dialogOKBtn {
  margin-left: 10px;
  margin-right: 83px;
}
.e-pivotclient.e-rtl .dialogCancelBtn {
  margin-left: -5px;
}
.e-pivotclient.e-rtl .chartPanel {
  direction: ltr;
  margin: 5px -7px 0px 0px;
}
.e-pivotclient.e-rtl .gridPanel {
  margin-left: 1px;
}
.e-pivotclient.e-rtl .pivotGridTable.e-rtl .expand,
.e-pivotclient.e-rtl .pivotGridTable.e-rtl .collapse {
  float: none !important;
}
.e-pivotclient .e-pivotschemadesigner .pivotHeader,
.e-pivotclient .e-pivotschemadesigner .rPivotHeader,
.e-pivotclient .e-pivotschemadesigner .schemaFilter,
.e-pivotclient .e-pivotschemadesigner .schemaColumn,
.e-pivotclient .e-pivotschemadesigner .schemaRow,
.e-pivotclient .e-pivotschemadesigner .schemaValue {
  margin: 0 !important;
  width: 100%;
}
.e-pivotclient .e-pivotschemadesigner .dropIndicator {
  margin-top: 0px !important;
  border-top: 3px dashed #179bd7;
  visibility: hidden;
  height: 2px;
}
.e-pivotclient .e-pivotschemadesigner .pivotButton:hover .dropIndicatorActive {
  visibility: visible;
}
.e-pivotclient .e-pivotschemadesigner .schemaFieldTree.e-treeview .e-text {
  min-height: 0px !important;
  font-weight: normal !important;
  width: auto;
}
.e-pivotclient .e-pivotschemadesigner .pivotButton > .pvtBtn {
  margin-top: -5px;
  margin-left: 2px;
  margin-right: 0px;
  width: auto !important;
  height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.e-pivotclient .e-pivotschemadesigner .pivotButton > .pvtBtn:hover {
  border: 1px solid #c8c8c8 !important;
}
.e-pivotclient .e-pivotschemadesigner .removeClientPivotBtn:before {
  content: "\e681" !important;
  font-size: 13px !important;
  margin-top: 2px !important;
}
.e-pivotclient .e-pivotschemadesigner .removeClientPivotBtn {
  background: #ececec !important;
  border: 1px solid #c8c8c8 !important;
  display: inline-block !important;
  float: none !important;
  margin: 0 !important;
  margin-top: 4px;
  padding-right: 0 !important;
  height: 18px;
}
.e-pivotclient .e-pivotschemadesigner .removeClientPivotBtn:hover {
  cursor: pointer;
}
.e-pivotclient .e-pivotschemadesigner .olapFieldList {
  border: 1px solid #c8c8c8;
  margin-top: 8px;
}
.e-pivotclient .e-pivotschemadesigner,
.e-pivotclient .e-pivotschemadesigner .fieldTable,
.e-pivotclient .e-pivotschemadesigner .axisTable,
.e-pivotclient .e-pivotschemadesigner .axisTd1,
.e-pivotclient .e-pivotschemadesigner .axisTd2 {
  float: left !important;
}
.e-pivotclient .e-pivotschemadesigner .axisTable {
  margin-top: 6px;
}
.e-pivotclient .e-pivotschemadesigner .clientFieldTable {
  float: right !important;
}
.e-pivotclient .e-pivotschemadesigner .clientAxisTable {
  margin-left: 0px !important;
}
.e-pivotclient .e-pivotschemadesigner #axisTd {
  margin-top: 0px !important;
}
.e-pivotclient .e-pivotschemadesigner .axisTd2,
.e-pivotclient .e-pivotschemadesigner .axisTd1 {
  height: 27%;
}
.e-pivotclient .e-pivotschemadesigner .cubelists {
  margin-bottom: -2px;
}
.e-pivotclient .e-pivotschemadesigner {
  border: none;
}
.e-pivotclient .toggleButtons {
  width: 15px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.e-pivotclient .togglePanel {
  float: left;
  margin-left: 5px;
  background-color: #ececec;
}
.e-pivotclient .gridPanel {
  background: none !important;
}
.e-pivotclient .e-clrFilter:before {
  content: "\e668";
  font-size: 16px;
  float: left;
}
.e-pivotclient .activeFilter:before {
  content: "\e657";
  height: 16px;
  width: 16px;
}
.e-pivotclient #clientDialog_wrapper .e-scroller {
  overflow: visible !important;
  border: none;
}
.e-pivotclient .filterIndicator {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 120px;
  margin-left: -12px;
}
.e-pivotclient .filterIndicator:before {
  content: "\e657";
  height: 16px;
  width: 16px;
}
.e-pivotclient .filterDialog td {
  padding-left: 6px;
}
.e-pivotclient .e-pivotpager {
  border: 1px solid #c8c8c8;
  margin-bottom: 5px;
  padding-left: 10%;
}
.e-pivotclient .e-pivotpager .pagerDiv {
  padding: 0px;
}
.e-pivotclient .e-pivotpager .pagerTextBox {
  height: 14px;
}
.e-pivotclient .inActive {
  display: none;
}
.e-pivotclient .vScrollPanel {
  background-color: #e3e3e3;
  width: 0px;
  margin-left: 5px;
  display: inline-block;
  border-radius: 10px;
}
.e-pivotclient .vScrollThumb {
  width: 11px;
  position: relative;
  top: 1px;
  z-index: 1000;
  border-radius: 5px;
  background-color: #bababa;
}
.e-pivotclient .hScrollPanel {
  background-color: #e3e3e3;
  width: 0px;
  height: 6px;
  border-radius: 10px;
}
.e-pivotclient .hScrollThumb {
  border-radius: 5px;
  height: 11px;
  position: relative;
  left: 1px;
  top: 1px;
  z-index: 1000;
  background-color: #bababa;
}
.e-pivotclient .vScrollThumb:hover,
.e-pivotclient .hScrollThumb:hover {
  background-color: #989999;
}
.e-pivotclient .categPageIndicator,
.e-pivotclient .seriesPageIndicator {
  width: auto;
  background-color: #179bd7;
  border: thin solid #c8c8c8;
  color: white;
  padding: 5px;
  position: absolute;
  z-index: 1000;
  border-radius: 7px;
}
.e-pivotclient .hsVirtualScrolling {
  margin-bottom: 5px;
}
.maximumView {
  background-color: white;
  z-index: 1000;
  margin: 2% 4%;
  margin-top: 2%;
  padding: 20px;
  position: fixed;
}
.fullScreenView {
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 1000;
}
.winCloseBtn:before {
  content: "\e69e";
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 0;
  height: 24px;
  width: 24px;
}
.winCloseBtn {
  color: #686969;
}
.winCloseBtn:hover {
  color: #282827;
  cursor: pointer;
}
@media (min-width: 640px) and (max-width: 799px) {
  
}
@media (min-width: 800px) and (max-width: 959px) {
  
}
@media (min-width: 960px) and (max-width: 1120px) {
  
}
@media (min-width: 1120px) {
  
}
